body {
    margin: 0;
    height: 100vh;
}

.button-container {
    position: fixed; /* Fijar la posición */
    bottom: 20px; /* Espacio desde el fondo */
    right: 20px; /* Espacio desde la derecha */
}

.circular-button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #ff6444; /* Color de fondo */
    color: white; /* Color de la cruz */
    font-size: 30px; /* Tamaño de la cruz */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    z-index: 9000;
}

.circular-button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Ancho del formulario */
}

.form div {
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input, .form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}