.button-container {
    padding-inline: 20px;
    padding-block: 8px;
}

.circular-button {
    width: 60px;
    height: 60px;
    background-color: #ea5564; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.circular-button:hover {
    background-color: #ad6cdf;
}

.isModalVisible {
    background-color: rgba(154, 150, 150, 0.7);
}

.form input, .form textarea {
    box-sizing: border-box;
}

.bg-header-profile{
    background: linear-gradient(to right, #a6afe6, #d946ef, #8284e6);
    min-height: 12rem; 
}

.translate-start-0 {
    transform: translateX(0);
}

.translate-start-n100 {
    transform: translateX(-100%);
}