.text-purple {
    color: #6E51A9;
}

.bg-tomato {
    background-color: rgb(252, 100, 100);
}

.bg-purple {
    background-color: #AC78F5;
}

.border_purple {
    border: 1px solid #AC78F5;
}

.border-purple {
    border: 1px solid #AC78F5;
    border-radius: 20px;
    cursor: pointer;
}

.border-tomato {
    border: 1px solid rgb(252, 100, 100);
}

.bg-gray-light {
    background-color: #eeeff1;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-background {
    background-color: #ffffff;
}


.form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}


/* Hover en botones */
.form button:hover {
    opacity: 0.9;
}

/* Campo de archivos */
.form input[type="file"] {
    margin: 15px 0;
}

.time-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* Espacio entre los elementos */
    margin: 20px 0;
    /* Margen entre el contenedor de tiempos y otros elementos */
}

/*hora de abertura y hora de cierre*/
.time-container div {
    flex: 1;
}

.time-container label {
    display: block;
    margin-bottom: 5px;
}

.time-container input[type="time"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/*seleccion multiple de los grupos*/
.social-group {
    margin-top: 20px;
}

.social-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Espacio entre cada línea de checkbox */
    font-size: 16px;
    /* Tamaño de la fuente del texto de los checkboxes */
}

.social-group input[type="checkbox"] {
    margin-right: 10px;
    /* Espacio entre el checkbox y el texto */
    width: 18px;
    height: 15px;
}

.social-group>label {
    font-weight: bold;
    margin-bottom: 15px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 300ms forwards;
}

.fade-out {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOut 300ms forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}