.text-purple{
    color: #6E51A9;
}
.bg-tomato{
    background-color:tomato;
}
.bg-purple{
    background-color: #AC78F5;
}
.border-purple{
    border:1px solid #AC78F5;
    border-radius: 20px;
    cursor: pointer;
}